<div class="">
  <div class="">
    <h2 class="">Does {{reservation.dog_name}} need a fabulous day at Doggy Daycare?</h2>
    <button class="" data-id="{{reservation}}">Book Now!</button>
  </div>
  <div class="">
    <p>Your dog is: {{reservation.dog_name}}</p>
    <p>Breed: {{reservation.breed}}</p>
    <p>Age: {{reservation.age}}</p>
  </div>
</div>

<!--get reservation to populate with button above-->

<script src="./js/profile.js"></script>

<div class="">
  <div class="">
    <h3>New Reservation</h3>

    <form class="new-reservation">
      <div class="reservation-elements">
        <label for="reservation-id">Customer id:</label>
        <input class="form-input" type="number" id="" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-name">dog's name:</label>
        <input class="form-input" type="text" id="" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-breed">dog's breed:</label>
        <input class="form-input" type="text" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-age">dog's age:</label>
        <input class="form-input" type="number" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-date">what days do you need doggy daycare?</label>
        <input class="form-input" type="number" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <button type="submit" class="btn">Book Reservation</button>
      </div>
    </form>
  </div>
