
<!--get reservation to populate with button above-->

<div class="">
  <div class="">
    <h3>New Reservation</h3>

    <form class="new-reservation">
      <div class="reservation-elements">
        <label for="reservation-dog-name">dog's name:</label>
        <input class="form-input" type="text" id="dog-name" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-breed">dog's breed:</label>
        <input class="form-input" type="text" id="dog-breed" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-age">dog's age:</label>
        <input class="form-input" type="number" id="dog-age" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-date">what days do you need doggy daycare?</label>
        <input class="form-input" type="number" id="dog-stay" name=""></input>
      </div>
      <div class="reservation-elements">
        <button type="submit" class="btn">Book Reservation</button>
      </div>
    </form>
  </div>

<div class="">
  <div class="">
    <h2 class="">Does {{reservation.dog_name}} need a fabulous day at Doggy Daycare?</h2>
   <button class="" data-id="{{reservation}}">Book Now!</button>
   </div>
  <div class="">
    <p>Your dog is: {{reservation.stay_length}}</p>
    <p>Breed: {{reservation.breed}}</p>
    <p>Age: {{reservation.age}}</p>
  </div>
</div> 

<script src="./js/User.js"></script> <!--There is no profile.js data in this file-->