
<!--get reservation to populate with button above-->

<div class="">
  <div class="">
    <h3>New Reservation</h3>

    <form class="form new-reservation" id="reservationForm">
      <div class="reservation-elements">
        <label for="reservation-dog-name">dog's name:</label>
        <input class="form-input" type="text" id="dog-name" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-breed">dog's breed:</label>
        <input class="form-input" type="text" id="dog-breed" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-age">dog's age:</label>
        <input class="form-input" type="number" id="dog-age" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-date">what days do you need doggy daycare?</label>
        <input class="form-input" type="number" min="0" id="dog-stay" name=""></input>
      </div>
      <div class="reservation-elements">
        <button type="submit" class="btn" onclick="showReservation">Book Reservation</button>
      </div>
    </form>
  </div>
{{#each reservations as |reservation| }}
<div class="" id="bookedReservation">
  <div class="">
    <h2 class="">We're excited to see {{user.reservation.dog_name}} for a fabulous day at Doggy Daycare!</h2>
    <button class="btn-delete" data-id="{{reservation.id}}">Delete</button>
  </div>
  <div class="">
    <p>Your dog is: {{reservation.stay_length}}</p>
    <p>Breed: {{reservation.breed}}</p>
    <p>Age: {{reservation.age}}</p>
  </div>
</div>
{{/each}}

<script src="./js/User.js"></script>
